%h1 My Posts


#posts
  = paginate @posts

  - @posts.each do |post|
    .post
      .info
        .title= link_to post.title, post.slug
      .body= truncate(post.body, length: 400)
      - if user_signed_in?
        .actions
          - if post.can_i?(current_user, :edit)
            %span.edit= link_to 'Edit', edit_post_path(post)
          - if post.can_i?(current_user, :delete)
            %span.delete= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'New Post', new_post_path