!!! 5
%html
  %head
    %title Assemble Blog
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav
      = link_to('Home', root_path)
      - if user_signed_in?
        = link_to('Logout', destroy_user_session_path, method: :delete)
        = link_to('My Posts', posts_path)
      -else
      = link_to('Login', new_user_session_path)

    - if notice
      %p.alert.alert-success= notice
    - if alert
      %p.alert.alert-danger= alert

    = yield
